html {
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}

body {
  margin: 5px auto;
  line-height: 1.6;
  font-size: 17px;
  padding: 0 10px;
  text-align: center;
  max-width: 1500px;
  background-color: #fafafa;
  color: #222;
}

a {
  text-decoration: none;
  color: #222;
  font-weight: bold;
}

.rounded {
  border-radius: 4px;
}

.shadow {
  box-shadow: 0 2px 1px -1px #0003, 0 1px 1px 0 #00000024, 0 1px 3px 0 #0000001f;
}

.flex-container {
  justify-content: space-around;

  flex-wrap: wrap;
  margin: auto;
  display: flex;
  &--small {
    justify-content: space-between;
    min-width: 270px;
  }
  // &--big {
  //   max-width: 750px;
  // }
}

.info-wrapper {
  margin: 1.5rem;
  padding: 1rem;
}

header {
  margin: auto;
  padding-bottom: 2rem;
}

.background {
  background-color: #fff;
}

main {
  padding-top: 2rem;
}

.event {
  & a {
    margin: 1rem;
    padding: 1rem;
    min-width: 250px;
    display: block;
  }
}

aside {
  margin: 2rem 0;
  padding: 0.5rem;
}
