/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("/fonts/roboto-v30-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("/fonts/roboto-v30-latin-700.woff2") format("woff2"), url("/fonts/roboto-v30-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}

body {
  margin: 5px auto;
  line-height: 1.6;
  font-size: 17px;
  padding: 0 10px;
  text-align: center;
  max-width: 1500px;
  background-color: #fafafa;
  color: #222;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #222;
  font-weight: bold;
}

.rounded {
  border-radius: 4px;
}

.shadow {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.1411764706), 0 1px 3px 0 rgba(0, 0, 0, 0.1215686275);
}

.flex-container {
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
  display: flex;
}
.flex-container--small {
  justify-content: space-between;
  min-width: 270px;
}

.info-wrapper {
  margin: 1.5rem;
  padding: 1rem;
}

header {
  margin: auto;
  padding-bottom: 2rem;
}

.background {
  background-color: #fff;
}

main {
  padding-top: 2rem;
}

.event a {
  margin: 2rem 1rem 0 1rem;
  padding: 1rem;
  min-width: 250px;
  display: block;
}

aside {
  margin: 2rem 0;
  padding: 0.5rem;
}

.button {
  margin: 0.5rem;
  padding: 0.6rem 1rem;
  min-width: 125px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.1411764706), 0 1px 3px 0 rgba(0, 0, 0, 0.1215686275);
}
.button--white {
  background-color: #fff;
  color: #000;
  border: 2px solid black;
}
.button--white:hover {
  border: 2px solid #000;
  background-color: #000;
  color: #fff;
}
.button--black {
  border: 2px solid #000;
  background-color: #000;
  color: #fff;
}
.button--black:hover {
  border: 2px solid #000;
  background-color: #fff;
  color: #000;
}
.button--red {
  background-color: red;
  color: #fff;
}
.button--red:hover {
  background-color: darkred;
}
.button--green {
  background-color: green;
  color: #fff;
}
.button--green:hover {
  background-color: darkgreen;
}
.button--blue {
  background-color: blue;
  color: #fff;
}
.button--blue:hover {
  background-color: darkblue;
}

.modal {
  display: flex;
  align-items: center;
  position: fixed;
  padding: 1rem 2rem 2rem 2rem;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: #fff;
}
@media only screen and (min-width: 450px) {
  .modal {
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.1411764706), 0 1px 3px 0 rgba(0, 0, 0, 0.1215686275);
    border-radius: 4px;
    height: 200px;
    width: 350px;
  }
  .modal-background {
    display: none;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.6;
  }
}/*# sourceMappingURL=app.css.map */