@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/fonts/roboto-v30-latin-regular.woff2') format('woff2'),
    url('/fonts/roboto-v30-latin-regular.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('/fonts/roboto-v30-latin-700.woff2') format('woff2'),
    url('/fonts/roboto-v30-latin-700.woff') format('woff');
  font-display: swap;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 1s linear infinite;
  -moz-animation: rotating 1s linear infinite;
  -ms-animation: rotating 1s linear infinite;
  -o-animation: rotating 1s linear infinite;
  animation: rotating 1s linear infinite;
  margin-top: 20vh;
}

$black: #000;
$white: #fff;
$green: #080;
$red: #f00;
$shadow: 0 2px 1px -1px #0003, 0 1px 1px 0 #00000024, 0 1px 3px 0 #0000001f;

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

body {
  margin: 0;
  position: relative;
  min-height: 100vh;
}

body {
  line-height: 1.6;
  font-size: 17px;
  text-align: center;
  background-color: #fafafa;
  color: $black;
  font-family: 'Roboto', sans-serif;
  font-display: swap;
}

a {
  text-decoration: none;
  color: $black;
  font-weight: bold;
}

.red-text {
  color: $red;
}

header {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: $shadow;
  background-color: $green;
  font-size: 15px;
  z-index: 1;

  & a {
    color: $white;
    display: block;

    & img {
      filter: brightness(0) invert(1);
    }
  }

  & img {
    height: 25px;
    margin-right: 0.5rem;
  }

  @media only screen and (min-width: 450px) {
    font-size: 17px;
  }
}

.link-wrapper {
  margin: 0 auto;
  padding: 0.75rem 2rem;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
  & a {
    margin-left: 3rem;
  }
}

.home-button {
  display: none;

  @media only screen and (min-width: 450px) {
    display: inline;
  }
}

.footer-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $green;
  color: $white;
  padding: 0.75rem;
  box-shadow: $shadow;

  & a {
    color: $white;
  }
  & span {
    display: none;
  }

  @media only screen and (min-width: 450px) {
    br {
      display: none;
    }
    span {
      display: inline;
    }
  }
}

.flex-container {
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
  &--small {
    justify-content: space-between;
    min-width: 290px;
  }
}

.info-wrapper {
  margin: 1.5rem;
  padding: 1rem;
}

main {
  margin: auto;
  padding: 6rem 10px 7rem 10px;
  max-width: 1500px;
}

.event {
  & a {
    margin: 2rem 1rem 0 1rem;
    padding: 1rem;
    min-width: 250px;
    display: block;
  }
}

aside {
  margin: 2rem 0;
  padding: 0.5rem;
}

.button {
  margin: 0.75rem;
  padding: 0.6rem 1rem;
  min-width: 125px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: $shadow;

  &--white {
    background-color: $white;
    color: $black;
    border: 2px solid #222;
  }

  &--black {
    border: 2px solid #000;
    background-color: #000;
    color: $white;
  }

  &--green {
    border: 2px solid $green;
    background-color: $green;
    color: $white;
  }
}

.card {
  background-color: $white;
  box-shadow: $shadow;
  max-width: 290px;
  border-radius: 4px;

  &--big {
    max-width: 700px;
    margin: auto;
    padding: 0.5rem 1rem;
  }

  & img {
    max-width: 35%;
  }
}

a.card:focus,
a.card:hover,
.button:focus,
.button:hover {
  transition: 0.1s ease-in-out;
  transform: translateY(-1px);
}

.modal {
  display: flex;
  display: none;
  align-items: center;
  position: fixed;
  padding: 1rem 2rem 2rem 2rem;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: $white;

  @media only screen and (min-width: 450px) {
    box-shadow: $shadow;
    border-radius: 4px;
    height: 200px;
    width: 350px;

    &-background {
      display: none;
      position: fixed;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      background-color: $black;
      opacity: 0.6;
    }
  }
}

.add {
  input,
  textarea {
    padding: 0.6rem;
    border-radius: 4px;
    border: none;
    box-shadow: $shadow;
    background-color: $white;
    resize: none;
    max-width: 95%;
  }
}

.message-text {
  white-space: pre-wrap;
}

.login {
  margin: 3rem auto;
  padding: 0.1rem 0 1.5rem 0;
  min-width: 300px;

  input {
    border: 0;
    border-bottom: 2px solid $black;
    outline: 0;
    font-size: 16px;

    &:focus {
      border-bottom: 2px solid $green;
    }
  }
  input:focus {
    outline: none !important;
  }

  &-message {
    font-size: 14px;
    color: $red;
  }
}

.team {
  min-width: 250px;
}

.teamname {
  font-size: 25px;
  font-weight: bold;
}
